<a href="https://colab.research.google.com/github/fermuba/Procesamiento-de-Datos/blob/main/S7/Ejemplos_clase/Ejemplo_3_map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ejemplo 3: `map`

### 1. Objetivos:
    - Usar `map` para convertir datos usando un `diccionario` o una `funci√≥n``

---
    
### 2. Desarrollo:

In [1]:
# Cargamos librerias
import pandas as pd

In [2]:
# Le damos permiso de acceso a nuestro Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Cargamos nuestro archivo a un dataframe
df = pd.read_csv('/content/drive/MyDrive/BEDU/ProcesamientoDatos/Datasets/new_york_times_bestsellers-dirty.csv', index_col=0)

df.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24 00:00:00,1212883200000,5,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24 00:00:00,1212883200000,7,4,3,26.95

Digamos que queremos transformar los datos de nuestra columna 'rank.numberInt' para que el 'rankink' est√© dado por letras, no por n√∫meros.

Sabemos que hay un valor 'No Rank' en esa columna, as√≠ que nuestro diccionario de conversi√≥n podr√≠a verse as√≠:

In [4]:
# Creamos un diccionario
int_a_letra = {
    '1': 'a',
    '2': 'b',
    '3': 'c',
    '4': 'd',
    '5': 'e',
    '6': 'f',
    '7': 'g',
    '8': 'h',
    '9': 'i',
    '10': 'j',
    '11': 'k',
    '12': 'l',
    '13': 'm',
    '14': 'n',
    '15': 'o',
    '16': 'p',
    'No Rank': 'z'
}

Lo aplicamos usando `map`:

In [5]:
# Vemos el estado original de la columna
df['rank.numberInt']

0        2
1        3
2        4
3        5
5        7
        ..
3027     8
3028     9
3029    11
3030    13
3031    14
Name: rank.numberInt, Length: 2266, dtype: object

In [6]:
# Usamos map para reemplazar los numeros por letras
df['rank.numberInt'].map(int_a_letra).head(20)

0     b
1     c
2     d
3     e
5     g
6     h
7     i
8     j
9     l
10    m
11    n
13    z
14    d
16    f
17    g
18    h
19    i
20    j
21    k
22    l
Name: rank.numberInt, dtype: object

Tambi√©n podemos usar una funci√≥n para `map`. Por ejemplo esta funci√≥n que realiza una correspondencia entre el precio de un libro y su representaci√≥n en `string`:

In [7]:
# Creamos una funcion para formatear la informacion de la columna
def double_to_money(value):

    return f'${value} USD'

In [9]:
# Ejemplo de map usando una funcion
df['price.numberDouble'].map(double_to_money)

0       $25.99 USD
1       $24.95 USD
2       $22.95 USD
3       $24.95 USD
5       $26.95 USD
           ...
3027    $26.95 USD
3028    $27.95 USD
3029    $27.95 USD
3030    $26.95 USD
3031    $28.99 USD
Name: price.numberDouble, Length: 2266, dtype: object

Lo √∫nico que tienes que pensar al usar `map` es: "¬øEste dato tiene una correspondencia con otro dato que pueda representar con un diccionario o una funci√≥n?". Y listo.