<a href="https://colab.research.google.com/github/fermuba/Procesamiento-de-Datos/blob/main/S7/Ejemplos_clase/Ejemplo_2_manipulacion_de_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ejemplo 2: Manipulaci√≥n de Strings

### 1. Objetivos:
    - Aprender a usar `replace`, `strip`, `title`, `upper`, `lower` y `split` para transformar datos tipo `string``

---
    
### 2. Desarrollo:

In [ ]:
# Carga de librerias
import pandas as pd

In [ ]:
# Permiso de acceso a datos de Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Cargamos nuestro archivo csv en un DataFrame
df = pd.read_csv('/content/drive/MyDrive/BEDU/ProcesamientoDatos/Datasets/new_york_times_bestsellers-dirty.csv', index_col=0)

df.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24 00:00:00,1212883200000,5,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24 00:00:00,1212883200000,7,4,3,26.95

Empecemos con la columna `description` que tiene un 'Descr:' al inicio de cada texto. Si queremos remover ese texto podemos usar el m√©todo `replace` de la propiedad `str` de esa `Serie`:

In [ ]:
# Usamos replace de str para reemplazar(en este caso eliminar), un texto
df['description'].str.replace('Descr:', '')

0        Aliens have taken control of the minds and bo...
1        A woman's happy marriage is shaken when she e...
2        A Massachusetts state investigator and his te...
3        An aging porn queens aims to cap her career b...
5        The Minneapolis detective Lucas Davenport inv...
                              ...
3027     The New York lawyer Stone Barrington discover...
3028     Jake Fisher discovers that neither the woman ...
3029     Six friends meet in the 1970s at a summer art...
3030     Bernie Gunther, the Berlin cop, is sent to Sm...
3031     A New Hampshire baker finds herself in the mi...
Name: description, Length: 2266, dtype: object

Para que el cambio persista, tenemos que reasignarlo:

In [ ]:
# Vamos a guardar el cambio en la columna
df['description'] = df['description'].str.replace('Descr:', '')

In [ ]:
# Seleccionamos la fila 0 y la columna 'description'
df.loc[0, 'description']

' Aliens have taken control of the minds and bodies of most humans, but one woman won‚Äôt surrender.     '

Como puedes ver, tenemos tambi√©n espacios vac√≠os al principio y final de nuestras `strings`. Vamos a removerlos usando `strip`:

In [ ]:
# Limpiamos espacios en blanco antes y despues
df['description'].str.strip()

0       Aliens have taken control of the minds and bod...
1       A woman's happy marriage is shaken when she en...
2       A Massachusetts state investigator and his tea...
3       An aging porn queens aims to cap her career by...
5       The Minneapolis detective Lucas Davenport inve...
                              ...
3027    The New York lawyer Stone Barrington discovers...
3028    Jake Fisher discovers that neither the woman h...
3029    Six friends meet in the 1970s at a summer arts...
3030    Bernie Gunther, the Berlin cop, is sent to Smo...
3031    A New Hampshire baker finds herself in the mid...
Name: description, Length: 2266, dtype: object

In [ ]:
# Vamos a guardar el cambio en la columna
df['description'] = df['description'].str.strip()

In [ ]:
# Seleccionamos la fila 0 y la columna 'description'
df.loc[0, 'description']

'Aliens have taken control of the minds and bodies of most humans, but one woman won‚Äôt surrender.'

Perfecto.

Ahora veamos la columna 'title', cuyos textos est√°n en may√∫sculas. Esto no es muy agradable, as√≠ que podemos usar algunos m√©todos para modificar el patr√≥n de may√∫sculas y min√∫sculas:

In [ ]:
# Para pasar texto a minusculas usamos lower, para matusculas upper
df['title'].str.lower()

0                       the host
1       love the one you're with
2                      the front
3                          snuff
5                   phantom prey
                  ...
3027     unintended consequences
3028                   six years
3029            the interestings
3030        a man without breath
3031             the storyteller
Name: title, Length: 2266, dtype: object

In [ ]:
# Solo reemplaza la primera letra por mayuscula
df['title'].str.title()

0                       The Host
1       Love The One You'Re With
2                      The Front
3                          Snuff
5                   Phantom Prey
                  ...
3027     Unintended Consequences
3028                   Six Years
3029            The Interestings
3030        A Man Without Breath
3031             The Storyteller
Name: title, Length: 2266, dtype: object

Este √∫ltimo es m√°s adecuado, vamos a guardarlo:

In [ ]:
# Guardamos los cambios
df['title'] = df['title'].str.title()

Ahora, digamos que queremos separar nuestra columna `author` en dos columnas `author_first_name` y `author_last_name`. Eso lo podemos hacer con el m√©todo `split`:

In [ ]:
df['author']

0         Stephenie Meyer
1            Emily Giffin
2       Patricia Cornwell
3         Chuck Palahniuk
5           John Sandford
              ...
3027         Stuart Woods
3028         Harlan Coben
3029         Meg Wolitzer
3030          Philip Kerr
3031         Jodi Picoult
Name: author, Length: 2266, dtype: object

In [ ]:
# Separamos las palabras por el espacio
df['author'].str.split(' ')

0         [Stephenie, Meyer]
1            [Emily, Giffin]
2       [Patricia, Cornwell]
3         [Chuck, Palahniuk]
5           [John, Sandford]
                ...
3027         [Stuart, Woods]
3028         [Harlan, Coben]
3029         [Meg, Wolitzer]
3030          [Philip, Kerr]
3031         [Jodi, Picoult]
Name: author, Length: 2266, dtype: object

Podemos convertirlo en dos columnas as√≠:

In [ ]:
df['author'].str.split(' ', expand=True)

              0          1
0     Stephenie      Meyer
1         Emily     Giffin
2      Patricia   Cornwell
3         Chuck  Palahniuk
5          John   Sandford
...         ...        ...
3027     Stuart      Woods
3028     Harlan      Coben
3029        Meg   Wolitzer
3030     Philip       Kerr
3031       Jodi    Picoult

[2266 rows x 2 columns]

In [ ]:
# Colocamos o guardamos la informacion en 2 columnas nuevas
df[['author_first_name', 'author_last_name']] = df['author'].str.split(' ', expand=True)

In [ ]:
df.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble,author_first_name,author_last_name
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Aliens have taken control of the minds and bod...,"Little, Brown",The Host,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,2,1,3,25.99,Stephenie,Meyer
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,A woman's happy marriage is shaken when she en...,St. Martin's,Love The One You'Re With,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,3,2,2,24.95,Emily,Giffin
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,A Massachusetts state investigator and his tea...,Putnam,The Front,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,4,0,1,22.95,Patricia,Cornwell
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,An aging porn queens aims to cap her career by...,Doubleday,Snuff,5b4aa4ead3089013507db18f,2008-05-24 00:00:00,1212883200000,5,0,1,24.95,Chuck,Palahniuk
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,The Minneapolis detective Lucas Davenport inve...,Putnam,Phantom Prey,5b4aa4ead3089013507db191,2008-05-24 00:00:00,1212883200000,7,4,3,26.95,John,Sandford

¬°√âxito!