### Ejemplo de como usar pd.json_normalize() cuando tienen varios niveles, datos anidados

In [1]:
# Cargamos las librerías
import json
import pandas as pd

In [2]:

# Creamos un JSON con varios niveles para el ejemplo
json_data = '''
{
    "records": [
        {
            "id": 1,
            "info": {
                "name": "John",
                "age": 30,
                "address": {
                    "city": "New York",
                    "zipcode": "10001",
                    "coordinates": {
                        "lat": 40.7128,
                        "lon": -74.0060
                    }
                }
            },
            "hobbies": ["reading", "travelling"]
        },
        {
            "id": 2,
            "info": {
                "name": "Anna",
                "age": 22,
                "address": {
                    "city": "London",
                    "zipcode": "WC2N",
                    "coordinates": {
                        "lat": 51.5074,
                        "lon": -0.1278
                    }
                }
            },
            "hobbies": ["painting", "dancing"]
        }
    ]
}
'''

In [3]:
# Cargamos el json a una variable
data = json.loads(json_data)

# Usamos pd.json_normalize para aplanar el JSON
df = pd.json_normalize(
    data['records'], 
    sep='_',  # Separador para las claves aplanadas, otra opción es usar espacio
    
    # Definimos la estructura que queremos aplanar a un nivel para nuestro df
    meta=[
        'id', 
        ['info', 'name'], 
        ['info', 'age'], 
        ['info', 'address', 'city'], 
        ['info', 'address', 'zipcode'], 
        ['info', 'address', 'coordinates', 'lat'], 
        ['info', 'address', 'coordinates', 'lon']
    ]
)

In [4]:
df

,id,hobbies,info_name,info_age,info_address_city,info_address_zipcode,info_address_coordinates_lat,info_address_coordinates_lon
0,1,"[reading, travelling]",John,30,New York,10001,40.7128,-74.0060
1,2,"[painting, dancing]",Anna,22,London,WC2N,51.5074,-0.1278

In [ ]:

# Exportamos el df a CSV para guardarlo
df.to_csv('ruta_del_archivo.csv', index=False)