## Reto 6: Lo que los científicos aman

### 1. Objetivos:
    - Practicar las siguientes herramientas:
        - Lectura de .csv
        - `merge`
        - Filtros con value_counts()
        - Agrupaciones y reordenamientos
    
---
    
### 2. Desarrollo:

#### a) Lo que los científicos aman

En este Reto vamos a obtener una lista de las películas que fueron mejor evaluadas por científicos para saber cuáles son sus favoritas. Vamos a realizar los siguientes pasos:

1. Lee los archivos para `movies`, `ratings` y `users`.
2. Agrega **solamente** la columna `occupation` al `DataFrame` `ratings`, para tener la información de las ocupaciones de los usuarios que realizaron los ratings.
3. Filtra tu tabla `ratings` para quedarte solamente con los ratings hechos por científicos.
4. Agrega **solamente** la columna `title` de la tabla `movies` a la tabla `ratings` para tener la información de los nombres de las películas que fueron evaluadas por científicos.
5. Filtra tu `DataFrame` para quedarte **solamente** con las películas que fueron evaluadas más de 50 veces.
6. Realiza una agrupación por película y computa el promedio de los ratings de cada película.
7. Ordena la `Serie` resultante descendentemente y asígnala  a la variable `mean_of_scientists_ratings_sorted`.

> **Nota**: el paso #5 es un poco complejo. No te desesperes si no encuentras una solución rápidamente. ¡Pídele a la experta que te guíe para que puedas resolverlo sin que te explote la cabeza!

In [4]:
# Tu código va aquí
# 1. Lee los archivos para `movies`, `ratings` y `users`.

# Cargamos librerías
import pandas as pd

# Cargamos los archivos
ratings = pd.read_csv('../../Datasets/MovieLens/ratings-raw.csv', index_col= 0)
movies = pd.read_csv('../../Datasets/MovieLens/movies-separated_by_money-raw.csv', index_col= 0, sep= '$')
users = pd.read_csv('../../Datasets/MovieLens/users-raw.csv', index_col= 0)

In [2]:
ratings.head(3)

         movie_id  rating  timestamp
user_id
1            1193       5  978300760
1             661       3  978302109
1             914       3  978301968

In [3]:
movies.head(3)

                            title                        genres
movie_id
1                Toy Story (1995)   Animation|Children's|Comedy
2                  Jumanji (1995)  Adventure|Children's|Fantasy
3         Grumpier Old Men (1995)                Comedy|Romance

In [5]:
users.head(3)

        gender  age  occupation     cp
user_id
1            F    1          10  48067
2            M   56          16  70072
3            M   25          15  55117

In [ ]:
# 2. Agrega **solamente** la columna `occupation` al `DataFrame` `ratings`, 
# para tener la información de las ocupaciones de los usuarios que realizaron los ratings.
pd.merge(ratings, )

In [ ]:

3. Filtra tu tabla `ratings` para quedarte solamente con los ratings hechos por científicos.

In [ ]:

4. Agrega **solamente** la columna `title` de la tabla `movies` a la tabla `ratings` para tener la información de los nombres de las películas que fueron evaluadas por científicos.

In [ ]:

5. Filtra tu `DataFrame` para quedarte **solamente** con las películas que fueron evaluadas más de 50 veces.

In [ ]:

6. Realiza una agrupación por película y computa el promedio de los ratings de cada película.

In [ ]:

7. Ordena la `Serie` resultante descendentemente y asígnala  a la variable `mean_of_scientists_ratings_sorted`.

In [ ]:


> **Nota**: el paso #5 es un poco complejo. No te desesperes si no encuentras una solución rápidamente. ¡Pídele a la experta que te guíe para que puedas resolverlo sin que te explote la cabeza!

## ...
## ...

mean_of_scientists_ratings_sorted =

Pídele a tu experta la función de verificación `visualizar_lista` (encontrada en el archivo `helpers.py` de la carpeta donde se encuentra este Reto), pégala debajo y corre la celda para verificar tu resultado.

In [ ]:
# Pega aquí la función de verificación 

visualizar_lista(mean_of_scientists_ratings_sorted)

<details><summary>Solución</summary>

```python
movies = pd.read_csv('../../Datasets/MovieLens/movies-separated_by_money-raw.csv', sep='$', index_col=0)
ratings = pd.read_csv('../../Datasets/MovieLens/ratings-raw.csv')
users = pd.read_csv('../../Datasets/MovieLens/users-full.csv')
ratings_with_occupation = pd.merge(ratings, users['occupation'], left_on='user_id', right_index=True)
only_scientists = ratings_with_occupation[ratings_with_occupation['occupation'] == 'scientist']
only_scientist_with_movie_title = pd.merge(only_scientists, movies['title'], left_on='movie_id', right_index=True)
movies_that_appear_more_than_50_times_filter = only_scientist_with_movie_title['title'].value_counts() > 50
titles_of_movies_that_appear_more_than_50_times = only_scientist_with_movie_title['title'].value_counts()[movies_that_appear_more_than_50_times_filter].index
def title_is_in_list(list_of_titles, title):
    return title in list_of_titles
ratings_for_most_rated_movies = only_scientist_with_movie_title[only_scientist_with_movie_title['title'].apply(lambda x: title_is_in_list(titles_of_movies_that_appear_more_than_50_times, x))]
mean_of_scientist_ratings = ratings_for_most_rated_movies.groupby('title')['rating'].mean()
mean_of_scientists_ratings_sorted = mean_of_scientist_ratings.sort_values(ascending=False)
```
    
</details>