## Funciones de agregación

In [1]:
# Cargamos las librerias
import numpy as np
import pandas as pd

In [2]:
# Creamos un dataframe con NaN usando np.nan de numpy
datos = {
    'precio': [34, 54, np.nan, np.nan, 56, 12, 34],
    'cantidad_en_stock': [3, 6, 14, np.nan, 5, 2, 10],
    'productos_vendidos': [3, 45, 23, np.nan, 24, 6, np.nan]
}

df = pd.DataFrame(datos, index=["Pokemaster", "Cegatron", "Pikame Mucho", "Lazarillo de Tormes", "Stevie Wonder", "Needle", "El AyMeDuele"])

df

                     precio  cantidad_en_stock  productos_vendidos
Pokemaster             34.0                3.0                 3.0
Cegatron               54.0                6.0                45.0
Pikame Mucho            NaN               14.0                23.0
Lazarillo de Tormes     NaN                NaN                 NaN
Stevie Wonder          56.0                5.0                24.0
Needle                 12.0                2.0                 6.0
El AyMeDuele           34.0               10.0                 NaN

In [10]:
# Calculo de promedio
print('El promedio de cada columna es:')
df.mean()

El promedio de cada columna es:

precio                38.000000
cantidad_en_stock      6.666667
productos_vendidos    20.200000
dtype: float64

In [11]:
# Suma de todos los elementos de las columnas
print('La sumatoria de cada columna es:')
df.sum()

La sumatoria de cada columna es:

precio                190.0
cantidad_en_stock      40.0
productos_vendidos    101.0
dtype: float64

In [12]:
# size es un atributo y no una funcion por eso no lleva (), nos da la cantidad de elementos del df contando los NaN o nulos
print('La cantidad de elementos del dataframe incluyendo nulos y NaN es:')
df.size

La cantidad de elementos del dataframe incluyendo nulos y NaN es:

21

In [14]:
# Cuenta elementos, a diferencia de size, no cuenta nulos
print(df)
print('\nLa cantidad de elementos no nulos de cada columna es:')
df.count()

                     precio  cantidad_en_stock  productos_vendidos
Pokemaster             34.0                3.0                 3.0
Cegatron               54.0                6.0                45.0
Pikame Mucho            NaN               14.0                23.0
Lazarillo de Tormes     NaN                NaN                 NaN
Stevie Wonder          56.0                5.0                24.0
Needle                 12.0                2.0                 6.0
El AyMeDuele           34.0               10.0                 NaN

La cantidad de elementos no nulos de cada columna es:

precio                5
cantidad_en_stock     6
productos_vendidos    5
dtype: int64

In [15]:
# Calculo de la desviación estándar
print('La desviación estándar de cada columna es:')
df.std()

La desviación estándar de cada columna es:

precio                17.944358
cantidad_en_stock      4.546061
productos_vendidos    16.843396
dtype: float64

In [16]:
# Calculo de la varianza
print('La varianza de cada columna es:')
df.var()

La varianza de cada columna es:

precio                322.000000
cantidad_en_stock      20.666667
productos_vendidos    283.700000
dtype: float64

In [17]:
# Calculo del Error Estandar de la media
print('El SEM o error estandar de la media es:')
df.sem()

El SEM o error estandar de la media es:

precio                8.024961
cantidad_en_stock     1.855921
productos_vendidos    7.532596
dtype: float64

In [18]:
# Informacion general que se complementa con info()
df.describe()

          precio  cantidad_en_stock  productos_vendidos
count   5.000000           6.000000            5.000000
mean   38.000000           6.666667           20.200000
std    17.944358           4.546061           16.843396
min    12.000000           2.000000            3.000000
25%    34.000000           3.500000            6.000000
50%    34.000000           5.500000           23.000000
75%    54.000000           9.000000           24.000000
max    56.000000          14.000000           45.000000

In [19]:
df.shape

(7, 3)

In [21]:
# Agrego una columna de categoría para explicar las siguientes funciones
df['Categorias'] = pd.Series(['A', 'A', 'B', 'B', 'A', 'B', 'A'], index= df.index)
df

                     precio  cantidad_en_stock  productos_vendidos Categorias
Pokemaster             34.0                3.0                 3.0          A
Cegatron               54.0                6.0                45.0          A
Pikame Mucho            NaN               14.0                23.0          B
Lazarillo de Tormes     NaN                NaN                 NaN          B
Stevie Wonder          56.0                5.0                24.0          A
Needle                 12.0                2.0                 6.0          B
El AyMeDuele           34.0               10.0                 NaN          A

In [34]:
# Realizo una agrupacion por Categorias con groupby
# First muestra el primer elemento de cada grupo
print('El primer elemento de cada grupo es:')
df.groupby('Categorias').first()

El primer elemento de cada grupo es:

            precio  cantidad_en_stock  productos_vendidos
Categorias
A             34.0                3.0                 3.0
B             12.0               14.0                23.0

In [33]:
# Realizo una agrupacion por Categorias con groupby
# last muestra el ultimo elemento de cada grupo
print('El ultimo elemento de cada grupo es:')
df.groupby('Categorias').last()

El ultimo elemento de cada grupo es:

            precio  cantidad_en_stock  productos_vendidos
Categorias
A             34.0               10.0                24.0
B             12.0                2.0                 6.0

In [32]:
# Realizo una agrupacion por Categorias con groupby
# nth muestra el enesimo elemento de cada grupo
print('El segundo elemento de cada grupo es:')
df.groupby('Categorias').nth(2)

El segundo elemento de cada grupo es:

               precio  cantidad_en_stock  productos_vendidos Categorias
Stevie Wonder    56.0                5.0                24.0          A
Needle           12.0                2.0                 6.0          B

In [30]:
# Muestra el mínimo
print('El mínimo de cada columna es:')
df.min()

El minimo de cada columna es:

precio                12.0
cantidad_en_stock      2.0
productos_vendidos     3.0
Categorias               A
dtype: object

In [31]:
# Muestra el máximo
print('El máximo de cada columna es:')
df.max()

El máximo de cada columna es:

precio                56.0
cantidad_en_stock     14.0
productos_vendidos    45.0
Categorias               B
dtype: object