<a href="https://colab.research.google.com/github/fermuba/Procesamiento-de-Datos/blob/main/S5/Ejemplos_clase/Ejemplo_6_aplicacion_real.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ejemplo 6: Limpiando NaNs en un dataset real

### 1. Objetivos:
    - Aplicar lo aprendido hasta ahora en un dataset real

---
    
### 2. Desarrollo:

In [1]:
# Cargamos librerias
import pandas as pd

In [2]:
# Cargamos modulo de permiso para lectura de archivos dentro de nuestro Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Para leer un archivo .csv en `pandas`, usamos `read_csv` y le indicamos que el separador (el signo que delimita las columnas en el archivo .csv) es una coma:

In [3]:
df = pd.read_csv('/content/drive/MyDrive/BEDU/ProcesamientoDatos/Datasets/melbourne_housing-raw.csv', sep=',')

df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.00,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.00,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19735,Windsor,201/152 Peel St,2,u,560000.0,PI,hockingstuart,29/07/2017,4.6,3181.0,...,1.0,1.0,NaN,585.0,NaN,Whittlesea,-37.67681,145.00323,Southern Metropolitan,4380.0
19736,Wollert,60 Saltlake Bvd,3,h,525300.0,S,Stockdale,29/07/2017,25.5,3750.0,...,2.0,2.0,NaN,333.0,NaN,Darebin,-37.75884,145.00264,Northern Metropolitan,2940.0
19737,Yarraville,2 Adeney St,2,h,750000.0,SP,hockingstuart,29/07/2017,6.3,3013.0,...,2.0,2.0,1999.0,199.0,140.00,Darebin,-37.75948,144.99615,Western Metropolitan,6543.0
19738,Yarraville,54 Pentland Pde,6,h,2450000.0,VB,Village,29/07/2017,6.3,3013.0,...,2.0,1.0,2011.0,238.0,118.00,Hume,-37.70322,144.88236,Western Metropolitan,6543.0
19739,Yarraville,10/127 Somerville Rd,3,t,645000.0,SP,Jas,29/07/2017,6.3,3013.0,...,1.0,1.0,1980.0,0.0,66.32,Hume,-37.69815,144.88019,Western Metropolitan,6543.0

### Diccionario

- Suburb: Nombre del suburbio donde se encuentra la propiedad.
- Address: Dirección específica de la propiedad.
- Rooms: Número de habitaciones en la propiedad.
- Type: Tipo de propiedad. Generalmente, esto puede incluir categorías como:
    + 'h' para casa (house)
    + 'u' para unidad (unit)
    + 't' para townhouse (casa adosada)
- Price: Precio de venta de la propiedad.
- Method: Método de venta. Algunos ejemplos comunes incluyen:
    + 'S' para venta estándar
    + 'SP' para venta con precio
    + 'PI' para venta antes de la subasta
    + 'VB' para ventas de oferta y negociación
    + 'SA' para ventas después de la subasta
- SellerG: Nombre del agente o agencia inmobiliaria que vende la propiedad.
- Date: Fecha de la venta de la propiedad.
- Distance: Distancia de la propiedad al centro de la ciudad (en kilómetros).
- Postcode: Código postal donde se encuentra la propiedad.
- Bedroom2: Número de dormitorios secundarios en la propiedad (puede ser redundante con 'Rooms' en algunos casos).
- Bathroom: Número de baños en la propiedad.
- Car: Capacidad de estacionamiento de la propiedad (número de coches que se pueden estacionar).
- Landsize: Tamaño del terreno en metros cuadrados.
- BuildingArea: Área construida en metros cuadrados.
- YearBuilt: Año de construcción de la propiedad.
- CouncilArea: Área del consejo municipal en la que se encuentra la propiedad.
- Lattitude: Latitud geográfica de la propiedad.
- Longtitude: Longitud geográfica de la propiedad.
- Regionname: Nombre de la región o zona en la que se encuentra el suburbio.
- Propertycount: Número total de propiedades en el suburbio.

In [4]:
# Tamaño
df.shape

(19740, 21)

In [5]:
# Primeros elementos
df.head(5)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

In [6]:
# Calculamos NaN por cada columna
df.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             4344
Method               0
SellerG              0
Date                 0
Distance             8
Postcode             8
Bedroom2          4413
Bathroom          4413
Car               4413
Landsize          4796
BuildingArea     11123
YearBuilt        10389
CouncilArea       4444
Lattitude         4292
Longtitude        4292
Regionname           8
Propertycount        8
dtype: int64

Hay demasiados `NaNs` en las columnas 'BuildingArea' y 'YearBuilt', así que vamos a deshacernos de esas columnas:

In [7]:
# Eliminamos las 2 columnas 'BuildingArea', 'YearBuilt' y asignamos el resultado a df_2
df_2 = df.drop(columns=['BuildingArea', 'YearBuilt'])

df_2.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price            4344
Method              0
SellerG             0
Date                0
Distance            8
Postcode            8
Bedroom2         4413
Bathroom         4413
Car              4413
Landsize         4796
CouncilArea      4444
Lattitude        4292
Longtitude       4292
Regionname          8
Propertycount       8
dtype: int64

Llenemos los `NaNs` en Regionname con la palabra `Unknown`:

In [8]:
# Cuando tenemos NaN y no los necesitamos pero si el resto de la fila,
# es una buena practica completarlos, en este caso 'Unknown'
df_2['Regionname'] = df_2['Regionname'].fillna('Unknown')

df_2.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price            4344
Method              0
SellerG             0
Date                0
Distance            8
Postcode            8
Bedroom2         4413
Bathroom         4413
Car              4413
Landsize         4796
CouncilArea      4444
Lattitude        4292
Longtitude       4292
Regionname          0
Propertycount       8
dtype: int64

Ahora eliminemos las filas que contengan al menos un `NaN`:

In [9]:
# Ahora con el trabajo previo, ya podemos eliminar las filas restantes, porque no las necesitamos
# Las asignamos a un nuevo dataframe df_dropped
df_dropped = df_2.dropna(axis=0, how='any')

df_dropped.isna().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

Éste es el número de columnas con el que nos quedamos:

In [10]:
# Tamaño del Dataframe limpio
df_dropped.shape

(11646, 19)

In [11]:
# Info gral
df_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11646 entries, 1 to 19739
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         11646 non-null  object
 1   Address        11646 non-null  object
 2   Rooms          11646 non-null  int64
 3   Type           11646 non-null  object
 4   Price          11646 non-null  float64
 5   Method         11646 non-null  object
 6   SellerG        11646 non-null  object
 7   Date           11646 non-null  object
 8   Distance       11646 non-null  float64
 9   Postcode       11646 non-null  float64
 10  Bedroom2       11646 non-null  float64
 11  Bathroom       11646 non-null  float64
 12  Car            11646 non-null  float64
 13  Landsize       11646 non-null  float64
 14  CouncilArea    11646 non-null  object
 15  Lattitude      11646 non-null  float64
 16  Longtitude     11646 non-null  float64
 17  Regionname     11646 non-null  object
 18  Propertycount  11646 non-null  float64
dtypes: float64(10), int64(1), object(8)
memory usage: 1.8+ MB

In [12]:
# Info complementaria
df_dropped.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Propertycount
count,11646.000000,1.164600e+04,11646.000000,11646.000000,11646.000000,11646.000000,11646.000000,11646.000000,11646.000000,11646.000000,11646.000000
mean,2.885025,1.068142e+06,9.583059,3102.080543,2.859437,1.514855,1.564743,554.458097,-37.809574,144.992541,7455.297098
std,0.958165,6.437282e+05,5.304187,84.043125,0.971155,0.690793,0.946698,1460.432326,0.072706,0.095678,4368.452377
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.400000e+05,5.900000,3044.000000,2.000000,1.000000,1.000000,162.000000,-37.855400,144.931500,4385.000000
50%,3.000000,8.955000e+05,9.100000,3083.000000,3.000000,1.000000,1.000000,412.000000,-37.803200,144.998000,6567.000000
75%,3.000000,1.325000e+06,12.300000,3146.000000,3.000000,2.000000,2.000000,656.000000,-37.759163,145.052775,10331.000000
max,8.000000,9.000000e+06,47.400000,3977.000000,20.000000,8.000000,10.000000,76000.000000,-37.413810,145.526350,21650.000000

Guardemos el resultado:

In [ ]:
# Guardamos a un archivo .csv -- Corregir PATH !!!
df_dropped.to_csv('../../Datasets/melbourne_housing-no_nans.csv')

Seguiremos trabajando este dataset en el último ejemplo.